[submodule "deps/djangogo"]
	path = deps/djangogo
	url = https://github.com/dansgithubuser/djangogo
[submodule "SocialTennis/synesthesia"]
	path = SocialTennis/synesthesia
	url = https://github.com/dansgithubuser/synesthesia
