.grid-container {
  display: grid;
  grid-template-columns: [friend] 1fr [server] 1fr [events] 1fr;
  grid-gap: 1em;
}

.grid-container div {
  background-color: grey;
}

.friend {
  grid-column: friend;
  text-align: center;
}

.server {
  grid-column: server;
  text-align: center;
}

.events {
  grid-column: events;
}
