{% extends 'base.html' %}

{% block title %}
  Home
{% endblock %}

{% block content %}
  <script>
    function e(id){ return document.getElementById(id) }

    function submitEventPrep (friendId) {
      e(`eventForm${friendId}`).appendChild(e('date'));
      e(`eventForm${friendId}`).appendChild(e('kind'));
    }

    window.onload = () => {
      const now = new Date;
      e('date').value = `${now.getFullYear()}-${now.getMonth() + 1}-${now.getDate()}`;
    };
  </script>

  <form action="/friend" method="post">
    Friend Name: <input type="text" name="name"><br>
    <input type="submit" value="Create Friend">
    {% csrf_token %}
  </form>
  date: <input type="text" id="date" name="date"><br>
  kind: <select id="kind" name="kind">
    <option value="plan">plan</option>
    <option value="meet">meet</option>
  </select>

  <div class="grid-container">
    {% for friend in friends %}
      <div class="friend">{{ friend.name }}</div>
      <div class="server">
        <form method="post" id="eventForm{{ friend.id }}" onsubmit="return submitEventPrep({{ friend.id }})">
          <button type="submit" formaction="/event/me/{{ friend.id }}">Me</button>
          <button type="submit" formaction="/event/them/{{ friend.id }}">Them</button>
          <button type="submit" formaction="/event/neither/{{ friend.id }}">Neither</button>
          <br><br>
          {% csrf_token %}
        </form>
      </div>
      <div class="events">
        {% for event in friend.event_set.all %}
            {{ event.server }} &nbsp;
            {{ event.date }} &nbsp;
            {{ event.kind }} <br>
        {% endfor %}
      </div>
    {% endfor %}
  </div>


{% endblock %}
