{% extends 'base.html' %}

{% block title %}
  Home
{% endblock %}

{% block content %}
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0/dist/Chart.min.js"></script>
  <script>
    function e(id){ return document.getElementById(id) }

    function submitEventPrep (friendId) {
      e(`eventForm${friendId}`).appendChild(e('daysAgo'));
      e(`eventForm${friendId}`).appendChild(e('kind'));
    }


    window.onload = function() {
      console.log("test");
      var ctx = document.getElementById('chart').getContext('2d');
      var myChart = new Chart(ctx, {
          type: 'bar',
          data: {
              labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
              datasets: [{
                  label: '# of Votes',
                  data: [12, 19, 3, 5, 2, 3],
                  backgroundColor: [
                      'rgba(255, 99, 132, 0.2)',
                      'rgba(54, 162, 235, 0.2)',
                      'rgba(255, 206, 86, 0.2)',
                      'rgba(75, 192, 192, 0.2)',
                      'rgba(153, 102, 255, 0.2)',
                      'rgba(255, 159, 64, 0.2)'
                  ],
                  borderColor: [
                      'rgba(255, 99, 132, 1)',
                      'rgba(54, 162, 235, 1)',
                      'rgba(255, 206, 86, 1)',
                      'rgba(75, 192, 192, 1)',
                      'rgba(153, 102, 255, 1)',
                      'rgba(255, 159, 64, 1)'
                  ],
                  borderWidth: 1
              }]
          },
          options: {
              scales: {
                  yAxes: [{
                      ticks: {
                          beginAtZero: true
                      }
                  }]
              }
          }
      });
    }
  </script>


  <form action="/friend" method="post">
    Friend Name: <input type="text" name="name"><br>
    <input type="submit" value="Create Friend">
    {% csrf_token %}
  </form>
  days ago: <input type="number" id="daysAgo" name="days_ago" value=0><br>
  kind: <select id="kind" name="kind">
    <option value="plan">plan</option>
    <option value="meet">meet</option>
  </select>

  <div class="grid-container">
    {% for friend in friends %}
      <div class="friend">{{ friend.name }}</div>
      <div class="server">
        <form method="post" id="eventForm{{ friend.id }}" onsubmit="return submitEventPrep({{ friend.id }})">
          <button type="submit" formaction="/event/me/{{ friend.id }}">Me</button>
          <button type="submit" formaction="/event/them/{{ friend.id }}">Them</button>
          <button type="submit" formaction="/event/neither/{{ friend.id }}">Neither</button>
          <br><br>
          {% csrf_token %}
        </form>
      </div>
      <div class="events">
        <canvas id= "chart" width="400" height="400"></canvas>
        {% for event in friend.event_set.all %}
            {{ event.server }} &nbsp;
            {{ event.created_at }} &nbsp;
            {{ event.kind }} <br>
        {% endfor %}
      </div>
    {% endfor %}
  </div>


{% endblock %}
